body {
 background-color: whitesmoke;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

#main_intro_header {
  font-size: 200%;

}

.header {
  margin-top: 10%;
}

/* Logo Linkedin Medium Github items */
.linkedinlogo {
  width: 25px;
}

.mediumlogo {
  width: 25px;
}

.githublogo {
  width: 25px;
}

/* Hero image */
.heroimage img {
  max-width: 250px;
}

/* Main introduction */
.myintro {
  font-size: 12pt;
  background-color: #33A1EE; 
}

.testimonialsubheader {
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
}

/* Dev tools card */
.devtools {
  width: 75px;
  margin-top: 5%;
  margin-left: 40%;
}

/* Education card */
.education {
  width: 75px;
  margin-top: 5%;
  margin-left: 40%;
}

/* My work card */
.mywork {
  width: 75px;
  margin-top: 5%;
  margin-left: 40%;
}

/* Testimonial content */
.testimonial {
  margin-left: 20%;
  margin-right: 30%;
}

.testshot {
  width: 150px;
  margin-left: 45%; 
  margin-top: 3%; 
  margin-bottom: 3%; 
}

/* Call to action */
.getintouch {
  font-size: 14pt;
  background-color: #ffae1a;
}

/* Contact form */
.form {
    box-sizing: border-box;
    border-style: solid;
}

.mailchimp_button {
  border-bottom-left-radius: 40%;
}

/* Footer */
.footer {
  width: 393px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style: none; 
}

.footerlinkedin {
  width: 393px;
  display: flex;
  list-style: none; 
  margin-top: 7.5%;
  margin-left: 30%;
}

.footermedium {
  width: 393px;
  display: flex;
  list-style: none; 
  margin-top: 7.5%;
}

.footergit {
  width: 393px;
  display: flex;
  list-style: none; 
  margin-top: 7.5%;
  margin-right: 25%;
}

.footernotes {
 font-size: 12px;
}
